Exercise 1: WAP to add three numbers and print result. Also use Comments in the code.

In [7]:
a=10
b=20
c=30
d=a+b+c
d

60

Exercise 2: WAP to display your name & roll number in python.

In [5]:
name=input("Enter your name: ")
roll_no=int(input("Enter your roll number: "))
print("name is : ",name)
print("roll number is : ",roll_no)

Enter your name: Arushi
Enter your roll number: 191339
name is :  Arushi
roll number is :  191339

Exercise 3: WAP to add three numbers, inputs from user and print result

In [6]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=int(input("Enter third number"))
d=a+b+c
d

Enter first number1
Enter second number2
Enter third number3

6

Exercise 4: WAP to concatenate your first & last name. Take inputs from keyboard and then print

In [10]:
first_name=input("Enter your first name: ")
last_name=input("Enter your last name: ")
fullname=first_name+' '+last_name
print(fullname)

Enter your first name: Arushi
Enter your last name: Khokhar
Arushi Khokhar

Exercise 5: WAP to declare three variables x,y and z and assign the values 33, 17.5 and "Python" in one single line & print data type of each variable.

In [11]:
x,y,z=33,17.5,"Python"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

Exercise 6: WAP to convert an integer variable x=17 into complex number

In [12]:
x=17
complex(x)

(17+0j)